body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.my_bg {
    /* background-color: #c41228 !important; */
    background: linear-gradient(90deg, #c41228, rgb(137, 64, 64));
}

.my_color {
    color: #7a0815 !important;
}

.my_border {
    border: 1px solid #c41228 !important;
}

input:focus-visible,
select:focus-visible {
    outline: 1px auto #c41228;
}

input:hover,
select:hover {
    border: 2px solid #c41228;
}

.card {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5)
}

a {
    text-decoration: none;
    color: #7a0815;
    transition: all 0.2s;
}

a:hover {
    color: black;
}

.box {
    transition: all 0.5s;
}

.box:hover {
    color: #7a0815;
    transform: scale(1.2);
}

input,
select {
    background-color: #ffffff;
    border: 1px solid #7a0815;
    border-radius: 20px;
    padding-left: 20px;
    height: 2rem;
}